#botbar {
	position: fixed;
	bottom: 0px;
	z-index: 1;
	width: 100%;
	height: 50px;
	background: rgb(241,240,236);
}
#botbar a {
	display: block;
	width: auto;
	height: 36px;
	margin-top: 8px;
	margin-left: 16px;
	margin-right: 16px;
	font-size: 20px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	background: #19c5d3;
	border-radius: 2px;
}
