#pay-successful {
  padding-top: 70px;
  padding-bottom: 150px;
  background: #f1f0ec;
  width: 100%;
  /*----------------提示信息---------------*/
}
#pay-successful .notice {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#pay-successful .notice .notice-title {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  width: 62%;
  margin-left: auto;
  margin-right: auto;
}
#pay-successful .notice .notice-title .img-wrapper {
  height: 67px;
}
#pay-successful .notice .notice-title .img-wrapper img {
  height: 100%;
}
#pay-successful .notice .notice-title .title-msg {
  font-size: 36px;
  color: #1b1b1b;
}
#pay-successful .notice .notice-info {
  margin-top: 20px;
  font-size: 16px;
  color: #6d6d6d;
  text-align: center;
}
#pay-successful .btn {
  margin-top: 65px;
}
#pay-successful .share {
  width: 100%;
  margin-top: 70px;
  overflow: hidden;
  text-align: center;
}
#pay-successful .share .text1 {
  font-size: 16px;
  color: #6d6d6d;
}
#pay-successful .share .share-item {
  display: block;
  float: left;
  margin-top: 20px;
  width: 33.3%;
  text-align: center;
}
#pay-successful .share .share-item .img-wrapper {
  height: 60px;
}
#pay-successful .share .share-item .img-wrapper img {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
#pay-successful .share .share-item .text2 {
  margin-top: 10px;
  font-size: 14px;
  color: #6d6d6d;
}
