#strdetail {
  margin-top: 40px;
  width: 100%;
  font-family: "Microsoft YaHei";
}
#strdetail .sec-banner {
  width: 100%;
}
#strdetail .sec-banner img {
  width: 100%;
}
#strdetail .store-info {
  position: relative;
  padding-left: 10px;
  padding-right: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 3px solid #f1f0ec;
  background: #fff;
  font-size: 14px;
  color: #2e2e2e;
}
#strdetail .store-info .icon {
  position: absolute;
  top: 4px;
  right: 12px;
  width: 18px;
}
#strdetail .store-info .icon img {
  width: 100%;
}
#strdetail .store-info .address {
  margin-top: 10px;
}
#strdetail .order-info {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 40px;
  background: #dde6e7;
  font-size: 14px;
  color: #697273;
}
#strdetail .order-info .icon-man {
  position: absolute;
  top: -18px;
  right: 26px;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../img/man.png) no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#strdetail .order-info .icon {
  position: absolute;
  right: -30px;
  width: 20px;
}
#strdetail .order-info .icon img {
  width: 100%;
}
#strdetail .order-info .title {
  font-size: 16px;
  color: #2b3435;
}
#strdetail .order-info .timepart {
  position: relative;
  /* 清除浮动 */
}
#strdetail .order-info .timepart .icon,
#strdetail .order-info .timepart .title {
  float: left;
  font-size: 16px;
}
#strdetail .order-info .timepart .time {
  float: left;
  margin-top: 4px;
  margin-left: 20px;
}
#strdetail .order-info .ayservicepart {
  position: relative;
  margin-top: 10px;
}
#strdetail .order-info .ayservicepart .title {
  font-size: 16px;
}
#strdetail .order-info .ayservicepart ul {
  margin-top: 10px;
}
#strdetail .order-info .ayservicepart ul li {
  margin-top: 10px;
}
#strdetail .order-info .ayservicepart ul li .time {
  float: left;
}
#strdetail .order-info .ayservicepart ul li .price {
  float: right;
}
#strdetail .order-info .otherservicepart {
  margin-top: 10px;
}
#strdetail .order-info .otherservicepart .title {
  font-size: 16px;
}
#strdetail .order-info .otherservicepart ul {
  margin-top: 10px;
}
#strdetail .order-info .otherservicepart ul li {
  position: relative;
  margin-top: 10px;
}
#strdetail .order-info .otherservicepart ul li .service {
  float: left;
}
#strdetail .order-info .otherservicepart ul li .price {
  float: right;
}
