#strdetail {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  font-family: "Microsoft YaHei";
}
#strdetail .sec-banner {
  width: 100%;
}
#strdetail .sec-banner img {
  width: 100%;
}
#strdetail .sec-intro {
  position: relative;
  padding-left: 10px;
  padding-right: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 3px solid #f1f0ec;
  background: #fff;
  font-size: 14px;
  color: #2e2e2e;
}
#strdetail .sec-intro .icon {
  position: absolute;
  top: 4px;
  right: 12px;
  width: 18px;
}
#strdetail .sec-intro .icon img {
  width: 100%;
}
#strdetail .sec-intro .address {
  margin-top: 10px;
}
#strdetail .sec-order {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 40px;
  background: #dde6e7;
  font-size: 14px;
  color: #697273;
}
#strdetail .sec-order input {
  display: none;
}
#strdetail .sec-order .icon-full {
  position: absolute;
  top: -18px;
  right: 26px;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../img/man.png) no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#strdetail .sec-order .sec-date {
  position: relative;
  /* 清除浮动 */
}
#strdetail .sec-order .sec-date .icon,
#strdetail .sec-order .sec-date .title {
  float: left;
  font-size: 16px;
}
#strdetail .sec-order .sec-date .time {
  float: left;
  margin-top: 4px;
  margin-left: 20px;
}
#strdetail .sec-order .sec-date input {
  display: inline-block;
  border: none;
  background-color: #DDE6E7;
}
#strdetail .sec-order .sec-date .icon {
  position: absolute;
  right: -30px;
  width: 20px;
}
#strdetail .sec-order .sec-date .icon img {
  width: 100%;
}
#strdetail .sec-order .sec-date .title {
  font-size: 16px;
  color: #2b3435;
}
#strdetail .sec-order .sec-aySrvPrice {
  position: relative;
  margin-top: 10px;
}
#strdetail .sec-order .sec-aySrvPrice .title {
  font-size: 16px;
}
#strdetail .sec-order .sec-aySrvPrice ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
#strdetail .sec-order .sec-aySrvPrice ul li {
  margin-top: 10px;
}
#strdetail .sec-order .sec-aySrvPrice ul li .time {
  float: left;
}
#strdetail .sec-order .sec-aySrvPrice ul li .price {
  float: right;
}
#strdetail .sec-order .sec-othSrvPrice {
  margin-top: 10px;
}
#strdetail .sec-order .sec-othSrvPrice .title {
  font-size: 16px;
}
#strdetail .sec-order .sec-othSrvPrice ul {
  margin-top: 10px;
}
#strdetail .sec-order .sec-othSrvPrice ul li {
  position: relative;
  margin-top: 10px;
}
#strdetail .sec-order .sec-othSrvPrice ul li .service {
  float: left;
}
#strdetail .sec-order .sec-othSrvPrice ul li .price {
  float: right;
}
#strdetail .btn {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100%;
}
#strdetail .checkbox,
#strdetail .icheckbox_polaris {
  position: absolute!important;
  right: -34px;
  top: -5px;
}
#strdetail .icheckbox_my1,
#strdetail .icheckbox_my2 {
  position: absolute!important;
  right: -34px;
  top: -1px;
}
