<ul id="container" ng-controller="AycultureController">
  <li ng-repeat="artItem in artItems">
    <a class="{1:'article-style1', 2:'article-style2'}[artItem.type] block" ng-href="'artItem.link'">
      <div class="left">
        <div class="title" ng-bind="artItem.title"></div>
        <div class="info">
          <div class="author" ng-bind="artItem.author"></div>
          <div class="likes">
            <span class="txt-number" ng-bind="artItem.likes"></span> 点赞
          </div>
          <div class="comments">
            <span class="txt-number" ng-bind="artItem.comments"></span> 评论
          </div>
        </div>
      </div>
      <div class="picture">
        <li ng-repeat="tbItem in artItem.thumbnail">
          <img ng-src="tbItem">
        </li>
      </div>
    </a>
  </li>
</ul>
<div ng-include="'bot-menu.html'"></div>
