<div ng-include="'tpl/topbar-search.html'"></div>

<div ng-controller="AycultureController">

  <ul id="artlist">
    <li class="art-item" ng-repeat="artItem in artItems">
      <!-- Style1: just one picture -->
      <a class="item-content item-content1" ui-sref="main.artdetail" ng-show="isType1(artItem.type)">
        <div class="picture">
          <img src="{{artItem.thumbnail[0]}}">
        </div>
        <div class="title" ng-bind="artItem.title"></div>
        <ul class="info">
          <li class="author" ng-bind="artItem.author"></li>
          <li class="likes"><span class="txt-number">{{artItem.likes}}</span> 点赞</li>
          <li class="comments"><span class="txt-number">{{artItem.comments}}</span> 评论</li>
        </ul>
      </a>
      <!-- Style2: 3 pictures -->
      <a class="item-content item-content2" ui-sref="artdetail" ng-show="isType2(artItem.type)">
        <div class="title" ng-bind="artItem.title"></div>
        <!-- <div class="picture">
          <img src="{{pic}}" ng-repeat="pic in art-item">
        </div> -->
        <ul class="picture">
          <li ng-repeat="pic in artItem.thumbnail"><img src="{{pic}}"></li>
        </ul>
        <ul class="info">
          <li class="author">{{artItem.author}}</li>
          <li class="likes"><span class="txt-number">{{artItem.likes}}</span> 点赞</li>
          <li class="comments"><span class="txt-number">{{artItem.comments}}</span> 评论</li>
        </ul>
      </a>
    </li>
  </ul>
</div>
