<div class="botmenu" id="botmenu" ng-controller="BotmenuController">
  <a class="left" ng-click="select1()">
    <img alt="" ng-src="{{path1}}">
    <div class="text" ng-class="{1:'text-selected',0:''}[txtClass1]">首页</div>
  </a>
  <a class="center" ng-click="select2()">
    <img alt="" ng-src="{{path2}}">
    <div class="text" ng-class="{1:'text-selected',0:''}[txtClass2]">艾灸文化</div>
  </a>
  <a class="right" ng-click="select3()">
    <img alt="" ng-src="{{path3}}">
    <div class="text" ng-class="{1:'text-selected',0:''}[txtClass3]">我的</div>
  </a>
</div>
<!-- ui-sref="home"
ui-sref="ayculture"
ui-sref="mine"  -->
